body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: #ffd000;
  margin: auto;
  text-align: center;
}


.miolo {
  height: 200px;
  width: 300px;
  background: white;
  margin: auto;
  padding: 30px;
  border-radius: 3px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.274);
}

#vel {
  border-style: solid;
  border-radius: 3px;
  width: 50px;
}

#botao {
  border-style: none;
  background: #ffd000;
  border-radius: 3px;
  padding: 10px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;

}